[Unit]
Description=TunerPi Web Client
After=network.target tuner_pi_daemon.service tuner_pi_web_server.service
Requires=tuner_pi_daemon.service tuner_pi_web_server.service

[Service]
ExecStart=/usr/bin/python ./TunerPiWebClient.py  -l 20 -r ./webclient_serial.config -s 9600 -w "http://tuner-pi" -i 2
WorkingDirectory=/home/pi/IndustrialAutomation/RadioAntenna/PiCode/TunerPi_Alpha/TunerPiWebClient/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
