<!DOCTYPE html>
<html>
  <head>
    <title>Sat Tracker Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sat_tracker_web.css') }}">
    <meta http-equiv="refresh" content="4">
  </head>
  <body>
    <header>
      <div class="header_menu">
        <h1 class="logo">Satellite Tracker</h1>
        <strong><nav>
          <ul class="menu">

          </ul>
        </nav></strong>

    </header>
    <div class="main_display">
        <div class="dashboard">
            <div class="azimuth">
                Azimuth - Heading
                {% if azimuth_current %}
                <h1>Azimuth: {{azimuth_current}} </h1>
                {% endif %}
                <form action="set_azimuth" method="POST">
                Set Azimuth: <input type="text" name="azimuth_new"><br>
                <input type="submit" value="Submit">
                </form>
            </div>
            <div class="elevation">
                Elevation
                {% if elevation_current %}
                <h1>Elevation: {{elevation_current}} </h1>
                {% endif %}
                <form action="set_elevation" method="POST">
                Set Elevation: <input type="text" name="elevation_new"><br>
                <input type="submit" value="Submit">
                </form>
            </div>
            <div class="polarity">
                Polarity
                {% if polarity_current %}
                <h1>Polarity: {{polarity_current}} </h1>
                {% endif %}
                <form action="set_polarity" method="POST">
                Set Polarity: <input type="text" name="polarity_new"><br>
                <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="logview">
            {{log_text_current}}
        </div>
    </div>
    </div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
