<!DOCTYPE html>
<html>
  <head>
    <title>Sat Tracker Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sat_tracker_web.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Satellite Tracker</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('polarity') }}">Polarity</a></li>
          </ul>
        </nav></strong>
        
    </header>
    <div class="container">
        <div class="dashboard">
            <div class="azimuth">
                Azimuth - Heading
            </div>
            <div class="elevation">
                Elevation
            </div> 
            <div class="polarity">
                Polarity
            </div>
        </div>
        <div class="logview">
        </div>
    </div>
    </div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>