<!DOCTYPE html>
<html>
  <head>
    <title>Sat Tracker Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sat_tracker_web.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='javascript/jquery-3.3.1.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascript/sat_tracker_web.js') }}"></script>
  </head>
  <body>
    <header>
      <div class="header_menu">
        <h1 class="logo">Satellite Tracker</h1>
        <strong><nav>
          <ul class="menu">

          </ul>
        </nav></strong>

    </header>
    <div class="main_display">
        <div class="dashboard">
            <div class="azimuth">
                <h1>Azimuth: <br>
                  <span id="azimuth_current"></span>
                </h1>
                <form action="set_azimuth" method="POST">
                Set Azimuth: <input type="text" name="azimuth_new"><br>
                <input type="submit" value="Submit">
                </form>
            </div>
            <div class="elevation">
                <h1>Elevation: <br>
                  elevation_current"></span>
                </h1>
                <form action="set_elevation" method="POST">
                Set Elevation: <input type="text" name="elevation_new"><br>
                <input type="submit" value="Submit">
                </form>
            </div>
            <div class="polarity">
                <h1>Polarity: <br>
                  <span id="polarity_current"></span>
                </h1>
                <form action="set_polarity" method="POST">
                Set Polarity: <input type="text" name="polarity_new"><br>
                <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="logview">

        </div>
    </div>
    </div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
