[Unit]
Description=TunerPi Daemon
After=network.target
Before=tuner_pi_web_server.service tuner_pi_web_client.service

[Service]
Type=simple
ExecStart=/bin/bash start_tuner.bash
WorkingDirectory=/home/pi/IndustrialAutomation/RadioAntenna/PiCode/TunerPi_Alpha/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
