[Unit]
Description=SatTrackerPi Web Client
After=network.target

[Service]
ExecStart=/usr/bin/python ./SatTrackerPiWebClient.py  -l 20 -r ./webclient_serial.config -s 9600 -w "http://sat-tracker-pi" -i 2
WorkingDirectory=/home/pi/src/git/IndustrialAutomation/RadioAntenna/PiCode/SatTrackerPi_Gamma/SatTrackerPiWebClient/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=multi-user.target