[Unit]
Description=TunerPi Web Server
After=network.target tuner_pi_daemon.service
Before=tuner_pi_web_client.service

[Service]
Type=simple
ExecStart=/usr/local/bin/uwsgi --ini uwsgi_config.ini --uid www-data --gid www-data
WorkingDirectory=/home/pi/IndustrialAutomation/RadioAntenna/PiCode/TunerPi_Alpha/TunerPiWebServer/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=www-data

[Install]
WantedBy=multi-user.target
