[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/bin/bash start_tracker.bash > start_tracker.log
WorkingDirectory=/home/pi/src/git/IndustrialAutomation/RadioAntenna/PiCode/SatTrackerPi_Gamma/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target